/* You can add global styles to this file, and also import other style files */
:root {
    --dark-blue: rgb(27, 27, 245);
    --light-blue: rgb(61, 61, 255);
    --lighter-blue: rgb(185, 185, 244);

    --shadow-light: rgba(0, 0, 0, 0.3);
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: var(--light-blue);
    width: 350px;
    height: 85vh;
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--shadow-light);
}
.upper-data {
    position: relative;
    width: 100%;
    height: 50%;
    
}
.upper-data img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
  
}
.weather-data {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  background-color: rgba(240, 248, 255, 0.2);
}
.location {
    margin-top:10px;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    
    
}
.temp {
    color: black;
    font-size: 4em;
    
    
}








.info-block-label img {
    height: 25px;
    width: 25px;
}
.info-block-label  {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.more-info-label {
    color: white;
    text-transform: capitalize;
    margin: 10px;
    font-weight: 500;
    text-shadow: 2px 2px black;
}
.more-info-container {
    color: black;
    display: flex;
    flex-wrap: wrap;
    height: 33vh;
    margin: 10px;
    background-color: var(--lighter-blue);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 1px var(--shadow-light);

}
.info-block {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-block-value {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-info-container >*:nth-child(2) img{
height: 45px;
width: 45px;
}
.more-info-container >*:nth-child(1) span{
position: relative;
top: 10px;
}
.search input{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color: var(--lighter-blue);
    border-radius: 10px;
    border: none;
   outline: none;
}